<div id ="contact" class="contact">
	<div class="contact_title_1140">
		<div class="contact_title">
			<div class="title_separator_contact"></div>
			<div class="title_text_contact">STAY IN TOUCH.</div>
		</div>
	</div>
	<iframe class="google_map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d98797.46800744334!2d72.54184250165102!3d23.039083100067113!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e848aba5bd449%3A0x4fcedd11614f6516!2sAhmedabad%2C+Gujarat%2C+India!5e0!3m2!1sen!2s!4v1457387766850"
				  style="border:0" allowfullscreen>
	</iframe>
		  
	<div class="contact_info_1140">
		<div class="contact_info_left">
		<div class="contact_info_left_item_1">CONTACT INFORMATION</div>
		<div class="contact_info_left_item_2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nisi metus,
											tristique nec dolor non, ornare sagitis dolor. Nulla vestibulum lacus sed
											molestie gravida.
		</div>
		<div class="contact_info_left_item_2">Cras fermentum elit quis magna congue, <b>vel sodales</b> arcu vestibulum.
											Nunc lobortis dui magna, quis dapibus acus.
		</div>
	</div>
	
	<div class="contact_info_right">
		 <div class="contact_info_right_form">
			 <div class="form_block_top">
			 <div class="form_block_top_left">
				 <div class="form_block_top_left_title">YOUR NAME</div>
			 <input class="form_block_top_left_input" type="text">
			 </div>
			 <div class="form_block_top_right">
				 <div class="form_block_top_right_title">YOUR EMAIL</div>
			 <input class="form_block_top_right_input" type="text">
			 </div>
		 </div>
		 <div class="form_block_center">
			 <div class="form_block_center_title">YOUR MESSAGE</div>
			 <input class="form_block_center_input" type="text">
		 </div>
		 
		 <form action="#/"><button class="send_message_btn">SEND MESSAGE</button></form>
		 </div>
	
	</div>
	</div>
</div>